<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab12_NorthWindAlBoton.Properties.Settings.ConnectionString"
            connectionString="Data Source=SQL5041.site4now.net;Persist Security Info=True;User ID=DB_A630C7_NORTHWIND_admin;Password=nwprogra3"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>